/* .sortable-grid-container {
    max-width: calc(100% - 100px);
    margin: 0 auto;
    padding: 20px 0;
  }

  .sortable-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .sortable-item {
    background-color: #2196f3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: grab;
    transition: background 0.3s ease, transform 0.3s ease;
  }

  .sortable-item:hover {
    background-color: #1976d2;
  }

  .ghost {
    opacity: 0.6;
    background-color: #ff9800;
  } */

.sortable-grid-container {
  /* width: 100vw;
  height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  padding: 0;
  margin: 0;
}

.sortable-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  padding: 10px;
  width: calc(100% - 20px); /* 100% - padding */
  min-height: max-content;
  gap: 10px;
  grid-auto-flow: row dense;
}

.sortable-item {
  aspect-ratio: 1 / 1;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

}

.sortable-item.expanded {
  aspect-ratio: 2 / 1 ;
  grid-column: span 2;

}

.sortable-item:hover {
  transform: scale(1.02);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.ghost {
  opacity: 1;
  background-color: #75d4fe;

  * {
    opacity: 0;
  }
}

.card-options {
  display: flex;
  gap: 10px;
  flex-direction: row;
  width: calc(100% - 30px);
  padding: 0 10px;
  justify-content: space-between;
  
  & .drag-handle {
    font-size: 24px;
    font-weight: bold;
    cursor: grab;
    user-select: none;
  }
   
  & button {
    border: none;
    background: none;
    cursor: pointer;   
    font-size: 24px;
  }
}

.drag-handle:active {
  cursor: grabbing;
}

.chart-container {
  flex: 1;
  width: 100%;
  height: 100%;
}
